:root {
    /* todo: Primary Colors */
    --Dark Blue: hsl(233, 26%, 24%);
    --Lime Green: hsl(136, 65%, 51%);
    --Bright Cyan: hsl(192, 70%, 51%);
    /* todo: Neutral Colors */
    --Grayish Blue: hsl(233, 8%, 62%);
    --Light Grayish Blue: hsl(220, 16%, 96%);
    --Very Light Gray: hsl(0, 0%, 98%);
    --White: hsl(0, 0%, 100%);
}

html {
    font-size: 112.5%;
    scroll-behavior: smooth;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Public Sans', sans-serif;
    line-height: 1.5;
    box-sizing: inherit;
}

.navbar-toggler {
    width: 30px;
    height: 30px;
    position: relative;
    transition: 0.5s ease-in-out;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    border: 0;
    box-shadow: none;
}

.navbar-toggler span {
    margin: 0;
    padding: 0;
}

.toggler-icon {
    position: absolute;
    background-color: #777;
    height: 3px;
    width: 100%;
    display: block;
    border-radius: 1px;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
}

.middle-bar {
    margin-top: 0px;
}

.navbar-toggler .top-bar {
    margin-top: 0px;
    transform: rotate(-45deg);
}

.navbar-toggler .bottom-bar {
    margin-top: 0px;
    transform: rotate(45deg);
}

.navbar-toggler .middle-bar {
    opacity: 0;
    filter: opacity(0);
}

.navbar-toggler.collapsed .top-bar {
    margin-top: -20px;
    transform: rotate(0);
}

.navbar-toggler.collapsed .bottom-bar {
    margin-top: 20px;
    transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
    filter: opacity(1);
    opacity: 1;
}

button:focus,
button:active button:visited {
    outline: none;
    border: none;
}

.mb-0 .btn {
    background-image: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%))
}