/* 
==========
font
=========
*/

@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");

/* 
=========
variables
=========
*/

:root {
    /* primary colors */
    --clr-primary-1: Dark Blue: hsl(233, 26%, 24%);
    --clr-primary-2: Lime Green: hsl(136, 65%, 51%);
    --clr-primary-3: Bright Cyan: hsl(192, 70%, 51%);
    /* neutral colors */
    --clr-neutral-1: Grayish Blue: hsl(233, 8%, 62%);
    --clr-neutral-2: Light Grayish Blue: hsl(220, 16%, 96%);
    --clr-neutral-3: Very Light Gray: hsl(0, 0%, 98%);
    --clr-white: White: hsl(0, 0%, 100%);
    --transition: all 0.5s linear;
    --font-family: 'Public Sans', sans-serif;
}


/* 
=========
global styles
=========
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    font-size: 1rem;
    color: var(--clr-white);
    margin: 0 auto;
}

img {
    width: 100%;
    display: block;
}


/* 
==========
nav
==========
*/


/*
=============
first section img
============= 
 */

.img-1 {
    background: url(./images/bg-intro-mobile.svg) center/cover no-repeat;
    /* height: 300px ;
    object-fit: cover; */
    margin-bottom: 3rem;
}


/*
=============
first section text
============= 
 */

.first {
    text-align: center;
}

.info h3 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.info p {
    font-size: 1rem;
    color: hsl(233, 8%, 62%);
    margin-bottom: 3rem;
}


/*
=============
second section 
============= 
 */

.info-1 h4 {
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

.info-1 p {
    font-size: 1.5rem;
    color: hsl(233, 8%, 62%);
    margin-bottom: 3rem;
    text-align: center;
}

@media screen and (min-width:770px) {
    .info h3 {
        font-size: 4rem;
    }
    .info p {
        font-size: 2rem;
    }
}


/*
=============
third section 
============= 
 */

.cimg {
    width: 30%;
    margin: 0 auto;
}

.card-body {
    margin-top: 2rem;
}

.card-title {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.card-text {
    font-size: 1.5rem;
    color: hsl(233, 8%, 62%);
}

.col-md-6 {
    margin-bottom: 3rem;
    text-align: center;
}

@media screen and (min-width:765px) {
    .cimg {
        width: 35%;
        margin: 0;
    }
    .col-md-6 {
        text-align: start;
    }
    .info-1 p {
        font-size: 1rem;
        text-align: start;
    }
    .info-1 h4 {
        font-size: 1.5rem;
        text-align: start;
    }
}


/*
=============
fourth section
============= 
 */

.simg {
    height: 200px;
    object-fit: cover;
}

.text-muted {
    font-size: 1.5rem;
    margin-bottom: 6rem;
}


/*
=============
footer section
============= 
 */

.footer-link {
    display: block;
    color: white;
    line-height: 3rem;
    font-size: 1.5rem;
}

.main {
    margin-top: 4rem;
}

.btn1 {
    padding: 1 0;
}

footer {
    text-align: center;
}